.header {
	background-color: teal;
	padding: .5rem;
	position: sticky;
	top: 0px;
}

.header h1 {
	margin: 0;
	color: gold;
}

.navItem {
	margin: .5rem;
	float: left;
	text-decoration: none;
	color: powderblue;
}

.logout {
	cursor: pointer;
	margin: .5rem;
	color: powderblue;
	float: right;
}

.clearBar {
	clear: both;
}

.current {
	display: none;
}